<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Week 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [1]:
# type your code here

import numpy as np
import pandas as pd
import scipy.stats as st

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The quality assurance department claims that on average the non-fat yogurt contains less than 148 mg of potassium per 100 g pack. To check this claim 35 packs of yogurt are collected and the content of potassium is recorded. Can we use the Z-test to test the claim of the quality assurance department?
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
        pot_mg = [151, 159, 168, 146, 129, 147, 149, 141, 150, 158, 119, 125, 139, 154, 163, 156, 132, 137, 126, 152,
                  127, 135, 138, 145, 128, 148, 153, 124, 170, 134, 157, 164, 144, 160, 161]

In [19]:
# Ho - Data is Normally Distributed
#H1 - Data is Not Normally Distributed
alpha = 0.05

In [25]:
pot_mg = [151, 159, 168, 146, 129, 147, 149, 141, 150, 158, 119, 125, 139, 154, 163, 156, 132, 137, 126, 152,
              127, 135, 138, 145, 128, 148, 153, 124, 170, 134, 157, 164, 144, 160, 161]

# Test of Normality
print(st.shapiro(pot_mg))

ShapiroResult(statistic=0.9694578647613525, pvalue=0.4285268187522888)

In [ ]:
# Since p_value is greater than alpha, we fail to reject Null Hypothesis. Data is Normal and we can use Z-Test and sample > 30

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The quality assurance department claims that on average the non-fat yogurt contains less than 148 mg of potassium per 100 g pack. To check this claim 35 packs of yogurt are collected and the content of potassium is recorded. Use 0.05 as a level of significance to test the claim using p-value technique.   
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
          pot_mg = [151, 159, 168, 146, 129, 147, 149, 141, 150, 158, 119, 125, 139, 154, 163, 156, 132, 137, 126, 152,
                    127, 135, 138, 145, 128, 148, 153, 124, 170, 134, 157, 164, 144, 160, 161]

In [27]:
# ho - mu>=148
#h1 -  mu <148

pot_mg = [151, 159, 168, 146, 129, 147, 149, 141, 150, 158, 119, 125, 139, 154, 163, 156, 132, 137, 126, 152,
              127, 135, 138, 145, 128, 148, 153, 124, 170, 134, 157, 164, 144, 160, 161]
n =35
xbar = np.mean(pot_mg)
mu = 148
sigma = np.std(pot_mg,ddof=1) # sample standard deviation(s)

alpha = 0.05 


z_critical_value = st.norm.ppf(alpha)

z_stats = (xbar - mu) / (sigma/np.sqrt(n))

p_value = st.norm.cdf(z_stats)

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  -1.6448536269514729
z-stats :  -1.109712412013474
p_value : 0.13356148631189496
We fail to reject Null Hypothesis

In [26]:
# Since p_value greater than ALpha , we fail to reject Null Hypothesis ,The Above Claim is incorrect

In [39]:
# Using Built-in Function
from statsmodels.stats import weightstats as stests

stests.ztest(pot_mg,value=148,alternative='smaller')

(-1.109712412013474, 0.13356148631189496)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The production manager at the Xen Sewing Factory claims that on average the diameter of a class 14M bobbin is less than 18 mm. The previous study shows that the standard deviation is 1.7 mm. Consider a sample of 40 class 14M bobbins from a normally distributed population with sample mean diameter as 17.5 mm. Test the claim of the production manager with 99% confidence. 
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:


# h0 - mu >=18
# h1 - mu <18

mu =18
sigma = 1.7 # sample standard deviation
n = 40
xbar = 17.5
alpha = 0.01

z_critical_value = st.norm.ppf(alpha)

z_stats = (xbar - mu)/(sigma/np.sqrt(n))

p_value = st.norm.cdf(z_stats)

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  -2.3263478740408408
z-stats :  -1.8601633295108115
p_value : 0.031431210741779014
We fail to reject Null Hypothesis

In [40]:
# Since p_value greater than ALpha , we fail to reject Null Hypothesis ,The Above Claim is incorrect

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The NY university has opened the post of Astrophysics professor. The total number of applications was 36. To check the authenticity of the applicants a sample of 10 applications was collected, out of which 3 applicants were found to be a fraud. Estimate the number of fraud applicants from all the applications.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
N=36
p_samp=3/10
alpha=0.05
SE = np.sqrt(p_samp*(1-p_samp)/N)


# loc - sample_mean,scale - SE

print('Interval Function : ',st.norm.interval(0.95,loc=p_samp,scale=SE))

## using formula ##

z_critical = st.norm.isf(alpha/2)

p_samp_lower = p_samp-z_critical*SE
p_samp_upper = p_samp+z_critical*SE

print(p_samp_lower,p_samp_upper)

Interval Function :  (0.15030527802429908, 0.44969472197570093)
0.15030527802429902 0.44969472197570093

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The physical trainer at a university wants to estimate the average height of students at the university. The trainer collects the data of 100 students and found that the average height is 168 cm with a standard deviation of 12 cm. Use 95% confidence level for the population average height.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
# H0 - mu =168
# H1 - mu !=168

n =100
xbar =168
sigma = 12
alpha = 0.05

SE = sigma/np.sqrt(n)
z_critical_value = st.norm.isf(alpha/2)

ME = z_critical_value * SE


lower_pop_mean = xbar - ME
upper_pop_mean = xbar +ME

print('Using Function : ',st.norm.interval(0.95,loc=xbar,scale=SE))
print('Using Formula : ',lower_pop_mean,upper_pop_mean)

Using Function :  (165.64804321855195, 170.35195678144805)
Using Formula :  165.64804321855195 170.35195678144805

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The health magazine in Los Angeles states that a person should drink 1.8 L water every day. To study this statement, the physician collects the data of 15 people and found that the average water intake for these people is 1.6 L with a standard deviation of 0.5 L. Use 90% confidence level for the population average water intake.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
# H0 - mu = 1.8
# H1 - mu !=1.8 

# Since the sample is less than 30 , using t test here:

n= 15
xbar = 1.8
s = 0.5
alpha = 0.10
mu =1.6

z_crit = st.norm.isf(alpha/2)
se = s/(np.sqrt(n))

z_stats = (xbar - mu) / se

print(z_crit,z_stats)

p_value = st.norm.sf(abs(z_stats))
print('p_value :',p_value*2)

if p_value*2 <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

1.6448536269514729 1.5491933384829666
p_value : 0.12133525035848222
We fail to reject Null Hypothesis

In [56]:
# Since p_value greater than ALpha , we fail to reject Null Hypothesis ,The Above Claim is incorrect

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The production manager at the automobile company states that all the steel rods are produced with an average length of 26 cm and a standard deviation of 2.4 cm. The length of 60 rods is collected as a sample and the average length of these rods is found to be 24.8 cm. Test whether the length of the rod is different than 26 cm with a 95% confidence level. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# Two tailed tests

#h0 - mu  =26
#h1 = mu!=26

mu =26
sigma = 2.4
n =60
xbar = 24.8
alpha = 0.05

z_critical_value = st.norm.ppf(alpha/2)

z_stats = (xbar - mu)/(sigma/np.sqrt(n))

p_value = st.norm.cdf(z_stats) *2

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  -1.9599639845400545
z-stats :  -3.872983346207415
p_value : 0.00010751117672950135
We reject Null and accept Alternate hypothesis

In [57]:
# The Claim Seems to be correct

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>8. The production manager at tea emporium claims that the weight of a green tea bag is less than 3.5 g. To test the manager's claim consider a sample of 50 tea bags. The sample average weight is found to be 3.28 g with a standard deviation of 0.6 g. Use the p-value technique to test the claim at a 10% level of significance. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
#h0 - mu>=3.5
#h1 - mu < 3.5

n = 50
xbar = 3.28
sigma = 0.6 # Sample Standard Deviation(s)
alpha = 0.10
mu = 3.5

z_critical_value = st.norm.ppf(alpha)

z_stats = (xbar - mu)/(sigma/np.sqrt(n))

p_value = st.norm.cdf(z_stats)

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  -1.2815515655446004
z-stats :  -2.592724864350677
p_value : 0.0047609455920493825
We reject Null and accept Alternate hypothesis

In [58]:
# The Claim seems to be correct with the above values

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The physician at university claims that the average height of male students in the university hostel is more than 175 cm with a standard deviation of 8 cm. To test the claim the physical trainer at a university collects the data of 75 male students in the hostel and calculate the average height of those 75 students as 176.3 cm. Test the physician's claim at 95% confidence.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
#ho - mu <=175
#h1 = mu > 175

mu = 175
sigma = 8
n =75
xbar = 176.3
alpha = 0.05

z_critical_value = st.norm.isf(alpha)

z_stats = (xbar - mu)/(sigma/np.sqrt(n))

p_value = st.norm.sf(z_stats)

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  1.6448536269514729
z-stats :  1.4072912811497253
p_value : 0.07967051682425197
We fail to reject Null Hypothesis

In [59]:
# The Claim seems to be incorrect with the above proof

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The quality control department at a soap company states that their herbal soap contains 28 ml of palm oil with a standard deviation of 3.5 ml. A sample of 120 soaps is considered. The average amount of palm oil in the sample is 27.6 ml. Test whether the amount of palm oil is different than 28 ml using the 90% confidence level. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# h0 - mu =28
#h1 - mu!=28

n =120
mu =28
sigma = 3.5
xbar = 27.6
alpha = 0.10

z_critical_value = st.norm.ppf(alpha/2)

z_stats = (xbar - mu)/(sigma/np.sqrt(n))

p_value = st.norm.cdf(z_stats) *2

print('z_critical_value : ',z_critical_value)
print('z-stats : ',z_stats)
print('p_value :',p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

z_critical_value :  -1.6448536269514729
z-stats :  -1.251937274297518
p_value : 0.2105927211869113
We fail to reject Null Hypothesis

In [60]:
# The Claim seems to be incorrect with above proof

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [89]:
# H0 - AlphaMoney = PayEarly (Customer_Satisfaction)
# H1 - AlphaMoney ! PayEarly (Customer_Satisfaction)

# Alpha Money
xbar1 = 4.23
s1=np.std(Amy_time,ddof=1)
n1 = 1.6

# Pay Early
xbar2 = 3.56
s2=0.72
n2 = 652

t_crit = st.t.sf(alpha/2,n-1)

s = np.sqrt((n1-1)*s1**2 + (n2-1)*s2**2) / np.sqrt(n1+n2-1)

t_stats = (xbar1-xbar2) / (s*np.sqrt((1/n1)+(1/n2)))

print(t_stats,t_crit)

if abs(t_stats)<abs(t_crit):
    print('Fail to Reject Null Hypothesis')
else:
    print('Reject Null and Accept Alternate Hypothesis')

1.1764532783794182 0.48032214031321885
Reject Null and Accept Alternate Hypothesis

In [90]:
# With the above proof , we can conclude that the claim is incorrect

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. The economic journal claims that the students who graduated from tier 1 universities get more salary than the average salary of 35000$. A random sample of 20 graduated students is selected to test the claim. Use p-value criteria to test the claim with 0.1 as a level of significance.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:

        salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
                  15188, 91631, 96189, 77819, 79590]

In [87]:
# Ho - salary <=35000
# H1 - salary > 35000

salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
              15188, 91631, 96189, 77819, 79590]

mu = 35000
xbar = np.mean(salary)
n = 20
s = np.std(salary,ddof=1)
alpha = 0.10

t_crit = st.t.isf(alpha,n-1)
se = s/np.sqrt(n)

t_stats = (xbar - mu)/se

print(t_stats,t_crit)

p_value = st.t.sf(t_stats,n-1)

print(p_value)

if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

4.777624690114069 1.3277282090267981
6.544700826360017e-05
We reject Null and accept Alternate hypothesis

In [72]:
st.ttest_1samp(salary,popmean=35000)

Ttest_1sampResult(statistic=4.777624690114069, pvalue=0.00013089401652720034)

In [63]:
# Since p_value < alpha, we reject null and accept Alternate Hypothesis , Hence the claim is correct

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Perform a two sample t-test to test whether there is any difference between the average time taken by Amy and Susan. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [85]:
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]
alpha = 0.05

# Amy 
xbar1 = np.mean(Amy_time)
s1=np.std(Amy_time,ddof=1)
n1 = len(Amy_time)

# Susan
xbar2 = np.mean(Susan_time)
s2=np.std(Susan_time,ddof=1)
n2 = len(Susan_time)

s = np.sqrt((n1-1)*s1**2 + (n2-1)*s2**2) / np.sqrt(n1+n2-1)

t_stats = (xbar1-xbar2) / (s*np.sqrt((1/n1)+(1/n2)))

print(t_stats)

-1.2832235828046654

In [70]:
# Two sample t test

# H0 - mu1=mu2
# H1 - mu1!=mu2

Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]
alpha = 0.05

st.ttest_ind(Amy_time,Susan_time,equal_var = True)

Ttest_indResult(statistic=-1.209834796239568, pvalue=0.26087578765496466)

In [ ]:
# Since p_value > alpha , we fail to reject Null , So the test is incorrect

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [64]:
df = pd.read_excel('paired_data.xlsx')

df.head(5)

   before_score  after_score
0            23           32
1            38           36
2            35           48
3            45           47
4            32           40

In [ ]:
# Ho - Course was not Effective
# H1 - Course was Effective

In [66]:
stats,p_value = st.ttest_rel(df['before_score'],df['after_score'])

print(stats,p_value)

-2.75783135866153 0.03993727174744146

In [67]:
if p_value <  alpha:
    print('We reject Null and accept Alternate hypothesis')
else:
    print('We fail to reject Null Hypothesis')

We reject Null and accept Alternate hypothesis

In [68]:
# With the Above Proof , we can conclude that the course was effective