<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [37]:
import numpy as np
import pandas as pd
import scipy.stats as st
import statsmodels.stats.multicomp as mc

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The sales manager at an electronics company wants to study if online sales of their products in 2019 follow the same distribution as the online sales of products in 2015. He collected the sample of 300 products sold in 2019. Help the manager to test his claim using p-value technique at a 99% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_2.png'>

In [38]:
# Test of Goodness of fit

In [41]:
# H0 - Products sales follow same distribution
# h1 - Products sales doesnt follow same distibution

In [39]:
alpha = 0.99

obs_val = [85,90,125]
exp_val = [0.38 * 300,0.20*300,0.42*300]

In [42]:
stats,p_value = st.chisquare(obs_val,exp_val)

stats,p_value

(22.38512949039265, 1.3776246111575923e-05)

In [43]:
if p_value > alpha:
    print('Fail to Reject Null Hypothesis')
else:
    print('Reject Null and Accept Alternate Hypothesis')

Reject Null and Accept Alternate Hypothesis

In [44]:
# Since  p_value < alpha, Reject Null Hypothesis,Products sales in 2019 doesnt follow same distibution of 2015

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Use hypothesis testing to check if the type of car is dependent on the type of car's transmission. Test the hypothesis with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_ind.png'>

In [6]:
# H0 - There is no association between two categorical features
# H1 - There is some association between two features
alpha = 0.05

In [7]:
obs_val = [[104,85,78],[35,61,72]]

stats,p_value,dof,exp_val = st.chi2_contingency(obs_val)

stats,p_value,dof,exp_val

(16.774829953535356,
 0.00022771516717561853,
 2,
 array([[85.31724138, 89.6137931 , 92.06896552],
        [53.68275862, 56.3862069 , 57.93103448]]))

In [8]:
if p_value > alpha:
    print('Fail to Reject Null Hypothesis')
else:
    print('Reject Null and Accept Alternate Hypothesis')

Reject Null and Accept Alternate Hypothesis

In [9]:
#  Since p_value < alpha , there is some association between two categorical features

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use the p-value technique to test at 5% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `defective_prod.xlsx`

In [16]:
# Null Hypothesis , Production lines produces same number of def belts
#Alternate , Atleast one production is different

In [10]:
df_defective_prod = pd.read_excel('defective_prod.xlsx')
df_defective_prod.head()

  production_line  def_belts
0               A          5
1               C          2
2               B          3
3               A          4
4               C          1

In [11]:
alpha = 0.05

(21, 2)

In [15]:
st.f_oneway(df_defective_prod[df_defective_prod.production_line=='A']['def_belts'],
           df_defective_prod[df_defective_prod.production_line=='B']['def_belts'],
           df_defective_prod[df_defective_prod.production_line=='C']['def_belts'])

F_onewayResult(statistic=0.8384615384615386, pvalue=0.44857788134106824)

In [17]:
# Since p_value > alpha , we fail to reject Null Hypothesis , Hence On avg Production lines produces same number of def belts

In [32]:
comp = mc.MultiComparison(data = df_defective_prod.def_belts , groups = df_defective_prod.production_line)
post_hoc = comp.tukeyhsd(alpha = 0.05)
post_hoc.summary()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The company wants to decide their advertisement strategies for their new smartwatch. The manager collects the advertising cost (in dollars) for four different mediums. Test if the company is spending on average an equal amount on all the advertising mediums using a critical value approach with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `ad_cost.xlsx`

In [25]:
# Null Hypothesis , Spending equal amount on all the ads
#Alternate , Difference in atlease one medium

In [20]:
df_ad_cost = pd.read_excel('ad_cost.xlsx')
df_ad_cost.head()

     medium  cost
0  Snapmart   252
1   Picbook   378
2    Funsta   312
3   Klicker   297
4   Picbook   361

In [22]:
df_ad_cost.medium.unique()

array(['Snapmart', 'Picbook', 'Funsta', 'Klicker'], dtype=object)

In [23]:
alpha = 0.01

In [24]:
st.f_oneway(df_ad_cost[df_ad_cost.medium=='Snapmart']['cost'],
           df_ad_cost[df_ad_cost.medium=='Picbook']['cost'],
           df_ad_cost[df_ad_cost.medium=='Funsta']['cost'],
           df_ad_cost[df_ad_cost.medium=='Klicker']['cost'])

F_onewayResult(statistic=14.880471006443026, pvalue=0.001230153853232096)

In [34]:
df_ad_cost.medium.nunique(),len(df_ad_cost)

(4, 12)

In [36]:
f_crit = st.f.isf(q=0.01,dfn=3,dfd=8)
f_crit

7.590991947598852

In [26]:
# Since abs(stats) > f_crit , we reject Null Hypothesis and Accept Alternate
# There is some difference in amounts spending in atleast one medium

In [31]:
comp = mc.MultiComparison(data = df_ad_cost.cost , groups = df_ad_cost.medium)
post_hoc = comp.tukeyhsd(alpha = 0.01)
post_hoc.summary()